<div *ngIf="student">
<h2>{{student.name | uppercase}} Details:</h2>
</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
<label>
    Name:
    <input type="text"  [formControl]="name" required>
</label>
<div *ngIf="name.invalid && (name.dirty || name.touched)">
  <div *ngIf="name.errors.required">
    Name is required.
  </div>
</div>
<label>
    Age:
    <input type="number"  [formControl]="Age" required>
</label>
<label>
    Gender:
    <input type="text"  [formControl]="gender" required>
</label>
<button type="submit" [disabled]="!profileForm.valid">
    {{student?.id==null? "Add" : "Update" }}
</button>
</form>  

